.quoteInput {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    z-index: 1;

    /* just for visualization */
    /* background-color: #15171a; */

    background: radial-gradient(circle, rgba(39,43,50,1) 0%, rgba(21,23,26,1) 40%, rgba(21,23,26,1) 100%);
	background-size: 100rem 100rem;
    /* background-size: 150% 150%; */
	animation: gradient 9s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 20% 60%;
	}
	50% {
		background-position: 80% 60%;
	}
	100% {
		background-position: 20% 60%;
	}
}

.quoteInputFlex {
    display: flex;
    gap: 2rem;
}

.quoteSelector {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 12px;
}
