.App {
    display: flex;
    position: relative;
}

.quoteInput {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;

    z-index: 1;

    /* just for visualization */
    background: rgba(245, 0, 0, 0.3);
}

.previousQuotes {
    position: absolute;
    left: 50vw;
    width: 50vw;
    /* just for visualization */
    background: rgb(1, 163, 41);
}