:root {
	font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: #e7f0fc;
	--grey-50: #F3F6F9;
	--grey-100: #E5EAF2;
	--grey-200: #DAE2ED;
	--grey-300: #C7D0DD;
	--grey-400: #B0B8C4;
	--grey-500: #9DA8B7;
	--grey-600: #6B7A90;
	--grey-700: #434D5B;
	--grey-800: #303740;
	--grey-900: #1C2025;

	--blue-200: #99CCF3;
}

html, body {
	margin: 0;
	background: rgb(39, 39, 37);
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
	font-weight: 300;
    font-size: 58px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

img {
    position: fixed;
	top: 1rem;
	left: 1rem;
    
    width: 8rem;

	filter: invert(1);

	z-index: 2;
}

@media (max-width: 768px) {
	img {
		width: 5rem;
	}
}
